.mat-toolbar {
    width: auto;
    margin-bottom: 10px;
    mat-toolbar-row {
        display: flex;
        justify-content: space-between;
    }
}

mat-form-field {
    padding: 5px;
}

mat-hint {
    color: red;
}